/* ==========================================================================
   Reset
   ========================================================================== */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}
/* remember to define focus styles! */
:focus {
  outline: 0;
}
body {
  line-height: 1;
  color: black;
  background: white;
}
ol, ul {
  list-style: none;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
  border-collapse: separate;
  border-spacing: 0;
}
caption, th, td {
  text-align: left;
  font-weight: normal;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
}
blockquote, q {
  quotes: "" "";
}

@font-face{
    font-family: "Big John";
    src: url("BIGJOHN.otf");
}

/* ==========================================================================
   Styles
   ========================================================================== */

body{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: #FFFFFF;
  font-family: "Merriweather", serif;
  font-weight: 300;
  letter-spacing: 1.3px;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
  padding-left: 20px;
  padding-top: 180px;
}

img{
  display: block;
  width: auto;
  height: auto;
  max-width: 350px;
  max-height: 350px;
  margin-bottom: 15px;
}

.me a{
  color: black;
  border-bottom: 1px solid black;
  font-family: "Cutive Mono", monospace;
}

.main{
  /*float: left;*/
  width: 45vw;
  /*background: pink;*/
  margin-left: 25px;
  margin-bottom: 100px;
}

a{
  color: #FF5A5F;
  text-decoration: none;
  border-bottom: 1px solid #FF5A5F;
}


.twit{
  display: inline-block;
  margin-top: 15px;
  margin-bottom: 50px;
}

p{
  margin-bottom: 20px;
  font-size: 20px;
  width: auto;
  /*background: honeydew;*/
  /*font-weight: 100;*/
  line-height: 35px;
}

ul{
  margin-top: 0px;
  margin-bottom: 40px;
  list-style: circle outside none;
}

li{
  margin-left: 60px;
  padding-left: 0px;
  padding-top: 10px;
  line-height: 40px;
  font-size: 20px;
  /*list-style-type: none;*/
}

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (max-width: 1100px){
    img{
      max-width: 230px;
      max-height: 230px;
    }
    p, li{
      font-size: 16px;
      line-height: 30px;
    }
    p{
      margin-bottom: 15px;
    }
    li{

    }
}

@media only screen and (max-width: 800px){
    body{
      flex-direction: column;
      /*padding-left: 100px;*/
      height: auto;
      padding-left: 25px;
      padding-right: 25px;
      padding-top: 15vh;
    }
    .me{
      width: 40vw;
      /*background: pink;*/
    }
    .me a{
      font-size: 90%;
      letter-spacing: 1px;
    }
    img{
      width: 225px;
      max-width: none;
      max-height: none;
    }
    .main{
      margin-left: 0px;
      /*width: 550px;*/
      width: auto;
      max-width: 550px;
    }
    p{
      /*font-size: 3vw;*/
      font-size: 100%;
      line-height: 150%;
    }
    li{
      font-size: 100%;
      line-height: 150%;
    }
}
