<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="Freaking awesome creative coding.">
	<meta name="keywords" content="connor trotter, furblesmith, web design, web development, html5, css3, awesome, experiments, projects, web blog, development blog, javascript">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>{{ page.title }}</title>
	<link rel="stylesheet" type="text/css" href="/css/home.css">
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:600' rel='stylesheet' type='text/css'>
    <script src = "http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script src = "/js/main.js"></script>
    <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-34845843-1']);
    _gaq.push(['_trackPageview']);

    (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

    </script>
</head>
<body id = "body">
	
	<!--<script>
		$(document).ready(function(){
			$('body').hide().fadeIn(1000);
		});
	</script>-->

	<header></header>
	<div id = "container">
		<a href = "/"><img class = "circle" src = "/img/me_circle.png"></a>
		<h1>furblesmith</h1>
		<hr width = "50%">
		<a class="nav" href=""><img src="/img/th-menu.png" style="opacity:0.75"></a>
		<ul>
			<li><a href = "/about.html">About</a></li>
			<li><a href = "/projects.html">Projects</a></li>
			<li class = "name">Connor Trotter</li>
			<li><a href = "/lab.html">Lab</a></li>
			<li><a href = "http://github.com/touchred">Github</a></li>
		</ul>
		<hr width = "50%">
		{{ content }}
		<hr width = "100%">
		<p style = "float:left; opacity: 0.5">&copy;2012-2013 Connor Trotter</p>
		</br>
    </div>
</body>
</html>
